body {
  font-family: 'calibri', sans-serif;
}

@font-face {
  font-family: 'Quicksand';
  src: url('link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet');
}